:root {
    --primary-color: #305CFC; 
    --secondary-color: #8530FC; 
    --text-colors: #8F83FC; 
}

body {
    color: var(--text-colors);
    background: var(--primary-color); /* Use the primary color */
}
